@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
  /* Paleta de Cores EquipTrace */
  --equiptrace-primary: #4c1d95; /* Roxo Profundo */
  --equiptrace-secondary: #6d28d9; /* Roxo Médio */
  --equiptrace-accent: #8b5cf6; /* Roxo Claro */
  --equiptrace-bg: #0f172a; /* Fundo Escuro */
  --equiptrace-text: #f1f5f9; /* Texto Claro */
}

body {
  background-color: var(--equiptrace-bg);
  color: var(--equiptrace-text);
}

.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: var(--equiptrace-bg);
}

/* Customização Tailwind com as novas cores */
@layer utilities {
  .bg-purple-primary {
    background-color: var(--equiptrace-primary);
  }
  .bg-purple-secondary {
    background-color: var(--equiptrace-secondary);
  }
  .text-purple-accent {
    color: var(--equiptrace-accent);
  }
  .border-purple-primary {
    border-color: var(--equiptrace-primary);
  }
  .border-purple-secondary {
    border-color: var(--equiptrace-secondary);
  }
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #475569;
}
* {
  scrollbar-width: thin;
  scrollbar-color: #334155 transparent;
}

/* Autocomplete */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--equiptrace-bg) inset !important;
  -webkit-text-fill-color: white !important;
  caret-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}
